@import url(http://fonts.googleapis.com/css?family=Pacifico);
body {
    padding-top: 70px; 
	overflow-x: hidden;
}

.navbar-fixed-top .nav {
    padding: 25px 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-top: 10px;
}

.navbar-fixed-top .navbar-brand {
    padding-top: 15px;
}
.navbar{
	margin-bottom: 0px;
}

footer {
    padding: 30px 0;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; 
    }

    .navbar-fixed-top .navbar-brand {
        padding: 30px 0;
    }
}

.navbar-inverse .navbar-brand {
  color: #868686;
	font-family: 'Pacifico', cursive;
	font-size: 24px;
}
.navbar-nav{
	font-family: 'Pacifico', cursive;
	font-size: 18px;
}
.wrapper:hover .fa-stack{
    color: rgba(196, 211, 207, 0.72);
    transition: 0.9s;
    transform: rotate(360deg);
}
.wrapper{
    display: inline-block;    
    text-align: center;
		margin-bottom: 10px;
}
.panel-heading>h2{
	margin-bottom: 0px;
	margin-top:0px;
}
.panel-body {
	padding-top: 0px;
}

.wrapper1:hover .fa-stack{
    color: rgba(1, 13, 10, 0.72);
    transition: 0.9s;
    transform: rotateY(180deg);
}
.wrapper1{
    display: inline-block;    
    text-align: center;
		margin-top:10px;
		margin-left: 30px;
		color: rgba(48, 149, 149, 0.92);
}
.gun{
	float: right;
    width: 250px;
    margin: 0 0 0px 0px;
    padding: 15px;
    text-align: center;
		text-shadow: 1px 1px 1px rgba(28, 27, 27, 0.29);
}
.circle {
  background: #fff;
  height: 90px;
  width: 90px;
  border-radius: 95px;
  color: #005f8d;
  line-height: 90px !important;
}
.pad10{
	padding-top: 20px;
}

.c1 {
	background: rgba(0, 161, 203, 0.64);
	padding: 15px;
}
.c2 {
	background: rgba(0, 161, 203, 0.85);
	padding: 15px;
}
.c1:hover, .c2:hover {
	background: rgba(0, 43, 54, 0.89);
	cursor: pointer;
}
.colord {
	background: #005f8d;
}
.colord p {
	color: #DAE0FF;
}
.colord h3 {
	color: #fff;
}
.hcolr{
	color: white;
}
.pad30 {
	padding-top: 30px;
}

.pad40 {
	padding-top: 40px;
	padding-bottom: 80px;
}

#aboutUs {
	background: #fff;
	padding-top: 35px;
	padding-bottom: 25px;
	overflow: hidden;
}
#aboutUs .feature {
	margin-top: 30px;
	margin-bottom: 54px;
}
#aboutUs .right {
	padding-left: 32px;
	float: right;
}
#aboutUs .left {
	padding-right: 32px;
	float: left;
}
#aboutUs h3 {
	font: 18px/34px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #222;
}
#aboutUs .left {
	padding-right: 32px;
	float: left;
}
#aboutUs .right {
	float: right;
}
.row .six {
	width: 50%;
}
