<!DOCTYPE html>
<html>
    <head>
    <title>Template</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"name="viewport">
	<!-----Css------------------------------->
	<link href="css/default.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="css/media-responsive.css" type="text/css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet" type="text/css">
	<link href="css/fonts/fonts.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/lightbox/lightbox.css" rel="stylesheet">
    <link href="css/switcher/switcher.css" rel="stylesheet">	
	<!------Js------------------------------->
     <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
     <script type="text/javascript" src="js/bootstrap.js"></script>
	 <script type="text/javascript" src="js/menu.js"></script>
	 <script type="text/javascript" src="js/carousel.js"></script>
	 <script type="text/javascript" src="js/lightbox/lightbox-2.6.min.js"></script>
	 <script type="text/javascript" src="js/page-scroll.js"></script>	
	 <script type="text/javascript" src="js/switcher/jsstorage.js"></script>
	 <script type="text/javascript" src="js/switcher/switcher.js"></script>
    </head>
<body>
<!-- Wrapper -->
<div class="wrapper">
 <!---Header-top--------------->
 <section class="header-top-section">
		<div class="container">
		<div class="row">
		  <div class="col-md-6">
			<ul class="header-top">
			    <li><a href="#"><i class="fa fa-phone"></i>346489468</a></li>
				<li><a href="#"><i class="fa fa-envelope-o"></i>dairytemplate@.com</a></li>
			 </ul>
			</div>
		   <div class="col-md-6">					
			<ul class="header-top">
				<li><a href="#"><i class="fa fa-truck"></i>The best for your health from our bees!Order free delivery</a></li>
			</ul>
		  </div>
		 </div>
		</div>
 </section>
<!------Header Section--------->
     <nav class="navbar navbar-default">
	   <div class="container">
	    <div class="row">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"><img src="resource/images/logo.png" class="img-responsive"></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="about.html">About us</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Product</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="product-col-2.html">Product-2-Col</a></li>
						<li><a href="product-col-3.html">Product-3-Col</a></li>
						<li><a href="product-col-4.html">Product-4-Col</a></li>
						
					</ul>
				</li>
				<li><a href="services.html">Services</a></li>
			    <li><a href="contact.html">Contact</a></li>
			</ul>
		      <ul class="header-nav header-nav-social list-inline pull-right">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
				<li><a href="#"><i class="fa fa-rss"></i></a></li>
			  </ul>
		</div>
	</div>
  </div>
 </nav>
<!------/Header Section--------->
<div class="clearfix"></div>
<!-------Main slider---------------------->
<section class="main-carousel">
	<div id="main-slider" class="carousel carousel-fade slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
			   <img src="resource/images/slide/1.jpg" class="img-responsive">
				<div class="carousel-caption">
					<h1 data-animation="animated bounceInLeft">Sweeten your day!</h1>
					<p data-animation="animated bounceInRight">Sed at lobortis urna, sed porta metus. Donec consequat et</p>
					<a href="#" class="main-btn text-center">Purchase Now</a>
			   </div>
			  </div>
			 
			<div class="item">
			   <img src="resource/images/slide/2.jpg" class="img-responsive">
				<div class="carousel-caption">
					<h1 data-animation="animated bounceInLeft">Sweeten your day!</h1>
					<p data-animation="animated bounceInRight">Sed at lobortis urna, sed porta metus. Donec consequat et</p>
					<a href="#" class="main-btn text-center">Purchase Now</a>
			   </div>
			  </div>
			
			 <div class="item">
			   <img src="resource/images/slide/3.jpg" class="img-responsive">
				<div class="carousel-caption">
					<h1 data-animation="animated bounceInLeft">Sweeten your day!</h1>
					<p data-animation="animated bounceInRight">Sed at lobortis urna, sed porta metus. Donec consequat et</p>
					<a href="#" class="main-btn text-center">Purchase Now</a>
			   </div>
			  </div>
			  <div class="item">
			   <img src="resource/images/slide/4.jpg" class="img-responsive">
				<div class="carousel-caption">
					<h1 data-animation="animated bounceInLeft">Sweeten your day!</h1>
					<p data-animation="animated bounceInRight">Sed at lobortis urna, sed porta metus. Donec consequat et</p>
					<a href="#" class="main-btn text-center">Purchase Now</a>
			   </div>
			  </div>
		</div>  
		
		<ul class="carou-direction-nav">
			<li><a class="carou-prev" href="#main-slider" data-slide="prev"></a></li>
			<li><a class="carou-next" href="#main-slider" data-slide="next"></a></li>
		</ul> 
	
	</div>
</section>
<div class="clearfix"></div>
<!-----------Services Section------------------> 
<div class="services">
		<div class="container">
			<div class="service-top">
				<h3>Our Services</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
			<div class="row">
		   		<div class="col-md-4 service-top1">
		   			<div class=" ser-grid">	
		   				<a href="#"><i class="fa fa-star"></i></a>
		   			</div>
		   			<div class="ser-top">
		   				<h4>Dairy Automation</h4>
		   				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. 
		   					It has roots in a piece of classical.Contrary to popular belief, Lorem Ipsum </p>
		   		    </div>
					<div class="clearfix"> </div>
		   	   </div>
				<div class="col-md-4 service-top1">
		   			<div class=" ser-grid">	
		   				<a href="#"><i class="fa fa-user"></i></a>
		   			</div>
		   			<div class="ser-top">
		   				<h4>Animal Health</h4>
		   				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. 
		   					It has roots in a piece of classical.Contrary to popular belief, Lorem Ipsum </p>
		   		    </div>
					<div class="clearfix"> </div>
		   		  </div>
					<div class="col-md-4 service-top1">
		   			<div class=" ser-grid">	
		   				<a href="#"><i class="fa fa-user"></i></a>
		   			</div>
		   			<div class="ser-top">
		   				<h4>Genetics</h4>
		   				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. 
		   					It has roots in a piece of classical.Contrary to popular belief, Lorem Ipsum </p>
		   		    </div>
					<div class="clearfix"> </div>
		   		</div>
		   	<div class="clearfix"> </div>
		  </div>
		</div>
	</div>
<div class="clearfix"></div>
 
<!---------Image gallery -------------------------->
<div class="tooth-color-gr"></div>
<section class="gallery-section">
<div class="container">
	   <div class="row">
	      <div class="col-md-12 service-top">
			    <h3 class="animated bounceInRight">Our <span>Products</h3>
				<p class="animated bounceInLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		  </div>
	   </div>
</div>	
  
<div class="portfolio-column-section">
	<div class="container-fluid">
		<!-- Portfolio Area -->
				<div class="row">
					<div class="col-md-3 col-sm-6 portfolio-area animate zoomIn" data-anim-type="zoomIn" data-anim-delay="200">
						<div class="portfolio-image">
							<img class="img-responsive" src="resource/images/portfolio/p1.jpg">
							<div class="portfolio-showcase-overlay">
								<div class="portfolio-showcase-overlay-inner">
									<div class="portfolio-showcase-icons">
									    <a href="resource/images/portfolio/p1.jpg" rel="lightbox[group]" title="Product Name" class="hover_thumb"><i class="fa fa-arrows"></i></a>
										<h4>Product Name</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6 portfolio-area animate zoomIn" data-anim-type="zoomIn" data-anim-delay="400">
						<div class="portfolio-image">
							<img class="img-responsive" src="resource/images/portfolio/p2.jpg">
							<div class="portfolio-showcase-overlay">
								<div class="portfolio-showcase-overlay-inner">
									<div class="portfolio-showcase-icons">
									  <a href="resource/images/portfolio/p2.jpg" rel="lightbox[group]" title="Product Name" class="hover_thumb"><i class="fa fa-arrows"></i></a>
									  <h4>Product Name</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6 portfolio-area animate zoomIn" data-anim-type="zoomIn" data-anim-delay="600">
						<div class="portfolio-image">
							<img class="img-responsive" src="resource/images/portfolio/p3.jpg">
							<div class="portfolio-showcase-overlay">
								<div class="portfolio-showcase-overlay-inner">
									<div class="portfolio-showcase-icons">
									    <a href="resource/images/portfolio/p3.jpg" rel="lightbox[group]" title="Product Name" class="hover_thumb"><i class="fa fa-arrows"></i></a>
										<h4>Product Name</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-area animate zoomIn" data-anim-type="zoomIn" data-anim-delay="800">
						<div class="portfolio-image">
							<img class="img-responsive" src="resource/images/portfolio/p4.jpg">
							<div class="portfolio-showcase-overlay">
								<div class="portfolio-showcase-overlay-inner">
									<div class="portfolio-showcase-icons">
									    <a href="resource/images/portfolio/p4.jpg" rel="lightbox[group]" title="Product Name" class="hover_thumb"><i class="fa fa-arrows"></i></a>
										<h4>Product Name</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
		    </div>
		<!-- /Portfolio Area -->		
	</div>
</div>
</section>
<!-------Callout Section------------>
<div class="callout-section collout-gallery">
	<div class="overlay">
		<div class="container">	
			<div class="col-md-12">	
				<h1>Stay up to date and check out our latest work!</h1>
			</div>	
          <div class="btn-area"><a href="#" class="main-btn text-center">View All</a></div>			
		</div>	
	</div>	
</div>
<!-- /Callout Section -->
<!--------Additional Feature------------------------>
<section class="services">
    <div class="container">
		<div class="row">
	      <div class="col-md-12 service-top">
			    <h3 class="animated bounceInRight">Our Latest Feature</h3>
				<p class="animated bounceInLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		  </div>
	     </div>
        <div class="clearfix"></div>
	   <div class="row">	
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="col-md-6">
            <div class="feature-box70 bmargin">
              <div class="icon-plain-small left white"><span class="fa fa-leaf"></span></div>
              <div class="text-box-right text-left less-padding-1">
                <h4 class="text-white">Graphic Design</h4>
                <p>Lorem ipsum dolor sit amet sit et justo consectetuer elit. </p>
              </div>
            </div>
          </div>
          <!--end item-->
          
          <div class="col-md-6">
            <div class="feature-box70 active bmargin">
              <div class="icon-plain-small left white"><span class="fa fa-star"></span></div>
              <div class="text-box-right text-left less-padding-1">
                <h4 class="text-white">Branding</h4>
                <p>Lorem ipsum dolor sit amet sit et justo consectetuer elit. </p>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class="col-divider-margin-3"></div>
          <div class="col-md-6">
            <div class="feature-box70 bmargin">
              <div class="icon-plain-small left white"><span class="fa fa-user"></span></div>
              <div class="text-box-right text-left less-padding-1">
                <h4 class="text-white">Visual Design</h4>
                <p>Lorem ipsum dolor sit amet sit et justo consectetuer elit. </p>
              </div>
            </div>
          </div>
          <!--end item-->
          
          <div class="col-md-6">
            <div class="feature-box70 bmargin">
              <div class="icon-plain-small left white"><span class="fa fa-user"></span></div>
              <div class="text-box-right text-left less-padding-1">
                <h4 class="text-white">Marketing</h4>
                <p>Lorem ipsum dolor sit amet sit et justo consectetuer elit. </p>
              </div>
            </div>
          </div>
          <!--end item--> 
          
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <h5>Lorem Ipsum is simply dummy text of theprinting and typesetting it sit has the.</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent.</p>
          <br>
          <ul class="iconlist dark">
            <li><i class="fa fa-arrow-circle-right"></i> Nullam turpis Cras dapibus orci rutrum </li>
            <li><i class="fa fa-arrow-circle-right"></i> Etiam enim Suspendisse imperdiet cursus nisi.</li>
            <li><i class="fa fa-arrow-circle-right"></i> Sed massa tellus aliquam rhoncus venenatis </li>
          </ul>
          <br>
          <a class="main-btn" href="#">Read more</a> 
		</div>
        <!--end item--> 
	  </div>	
    </div>
  </section>
<!--------Client Section------------------------------>  
  <section class="section-red-5 section-less-padding clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="clientlogo-list">
            <li><img src="resource/images/client-logo1.png" alt=""></li>
            <li><img src="resource/images/client-logo2.png" alt=""></li>
            <li><img src="resource/images/client-logo3.png" alt=""></li>
            <li><img src="resource/images/client-logo4.png" alt=""></li>
            <li><img src="resource/images/client-logo5.png" alt=""></li>
            <li><img src="resource/images/client-logo6.png" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<!--------/Client Section------------------------>

<!-------Footer-------------------------------->
<footer class="footer" id="footer-1">
<div class="links-social">
<div class="container-class container">
<div class="links-social-inner">
<div class="row">						
	<div class="link-groups">
		<div class="col-sm-3">
			<div class="links">
				<h3 class="title">ABOUT US</h3>
				<p>We at Inzaana believe that we have this insatiable urge and capacity to 
				  challenge the conventional, because unless we do so, we will cease to progress. We believe that whatever is "out there" can be and should be made better.</p>
			</div>
		</div><!-- /.col -->

		<div class="col-sm-3">
			<div class="links">
				<h3 class="title">INFORMATION</h3>
				<ul>
					<li><a href="#"><i class="fa fa-angle-right"></i>About us</a></li>
					<li><a href="#"><i class="fa fa-angle-right"></i>Template</a></li>
					<li><a href="#"><i class="fa fa-angle-right"></i>Service</a></li>
					<li><a href="#"><i class="fa fa-angle-right"></i>Template</a></li>
					<li><a href="#"><i class="fa fa-angle-right"></i>Contact</a></li>
				</ul>
			</div>
		</div><!-- /.col -->

		<div class="col-sm-3">
			<div class="links">
				<h3 class="title">USEFUL LINKS</h3>
                     <ul class="tags-cloud clearfix">
							<li><a href="#">Website</a></li>
							<li><a href="#">Template</a></li>
							<li><a href="#">Html</a></li>
							<li><a href="#">Bootstrap</a></li>
							<li><a href="#">Css</a></li>
						</ul>
			</div>
		</div><!-- /.col -->
		
		<div class="col-md-3">
		<div class="social-newsletter">
			<div class="social-links">
				<h3 class="title">CONNECT WITH US</h3>
				 <ul class="social list-unstyled bordered big">
					<li><a href="#." class="facebook animations-on bounceIn" data-delay="100"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#." class="twitter animations-on bounceIn" data-delay="300"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#." class="googleplus animations-on bounceIn" data-delay="500"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#." class="linkedin animations-on bounceIn" data-delay="700"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div><!-- /.social-links -->

			<div class="newsletter">
				<h3 class="title">GET NEWSLETTER</h3>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Email Address">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Subscribe</button>
					</span>
				</div>
			   </div>
			  </div>
			 </div>
			 
	   </div><!-- /.row -->
   </div>
  </div><!-- /.container -->
</div>
<div class="copyright"> <a href="#">Copyright 2015 Template. All rights reserved.</a></div><a href="#">
</a></div>
</footer>	
<!--Scroll To Top--> 
    <a href="#" class="hc_scrollup"><i class="fa fa-chevron-up"></i></a>
<!--/Scroll To Top--> 
<!--Switcher Style-->
<section id="style-switcher">
	<h2>Style Changer <a href="#"><i class="fa fa-random"></i></a></h2>
	<div>
	  <h3>CHOOSE LAYOUT</h3>
	   <ul class="colors">
		   <button id="wide" class="btn_layout">Wide</button>
		   <button id="boxed" class="btn_layout btn_layout_box">Boxed</button>
	   </ul>
	   <h3>Change Colors</h3>
	   <ul id="colors" class="colors">
			<li><a title="Default" class="default" href="#" onclick="changeCSS('default.css', 0);"></a></li>
			<li><a title="Orange" class="orange" href="#" onclick="changeCSS('orange.css', 0);"></a></li>
			<li><a title="Yellow" class="yellow" href="#" onclick="changeCSS('yellow.css', 0);"></a></li>
			<li><a title="Purple" class="purple" href="#" onclick="changeCSS('purple.css', 0);"></a></li>
	   </ul>
	   <h3>BG PATTRENS</h3>
	   <ul id="bg" class="colors bg">
		  <li><a class="bg1" href="#"></a></li>
		  <li><a class="bg2" href="#"></a></li>
		  <li><a class="bg3" href="#"></a></li>
		  <li><a class="bg4" href="#"></a></li>
	   </ul>
	</div>
</section>
<!--/Switcher Style-->
</div><!-- /Close of wrapper -->
</body>
</html>
