<div id="container">
	<div id="container_header" style="vertical-align: baseline">
		 <div class="nav">
		 </div> 
	</div>
	
	<div id="container_header">
	<p>Banner Goes Here</p>
	</div>

	<div class="container_middle" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."  contentEditable="true">
		<header>
		<h1>City Gallery</h1>
		</header>
		
		<nav>
		London<br>
		Paris<br>
		Tokyo<br>
		</nav>
		
		<section>
		<h1>London</h1>
		<p  class="text">
		London is the capital city of England. It is the most populous city in the United Kingdom,
		with a metropolitan area of over 13 million inhabitants.
		</p>
		<p   class="text">
		Standing on the River Thames, London has been a major settlement for two millennia,
		its history going back to its founding by the Romans, who named it Londinium.
		</p>
		</section>
	</div>
<div>