@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.logo {
	font-family: 'Architects Daughter', cursive;
	font-size: 2em;
}
.navbar-inverse { 
	background-color: rgb(255, 255, 255);
}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #959df4}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #7074b7}
.navbar-inverse { background-image: none; }
.navbar-inverse { border-color: rgba(142, 142, 142, 0.22)}
.navbar-inverse .navbar-brand { 
	color: #7074b7;
}
.navbar-inverse .navbar-brand:hover { 
	color: rgba(66, 139, 202, 0.53);
}
.navbar-inverse .navbar-nav>li>a { 
	color: rgb(121, 121, 121);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { 
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { 
	color: #FFFFFF;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: rgba(16, 16, 16, 0);
}
.navbar-inverse .navbar-toggle {
  border-color: rgba(204, 198, 198, 0.35);
	background-color: rgba(66, 139, 202, 0.53);
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #428BCA;
}

body{
	padding-top: 50px;
	overflow-x: hidden;
}
.backhed {
	background: url(../images/pic4.jpg) no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
 	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  min-height: 100px;
	max-height: 200px;
}

.carousel-control.right{
	background-image: none;
}
.carousel-control.left{
	background-image: none;
}
.carousel-control.left:hover{
	color:#428BCA;
}
.carousel-control.right:hover{
	color:#428BCA;
}
img{
	max-height: 350px;
	width: 100%;
}
.detailsPara {
	color: #5e5e5e;
  font-size: 16px;
  width: 92%;
  font-weight: 400;
  margin-top: 1.5em;
  line-height: 1.8em;
  font-family: 'Open Sans', sans-serif;
}

.detailsParaH {
	font-size: 2.4em;
	font-family: 'Architects Daughter', cursive;
}

.pad10 {
	padding-top: 10px;
}
.pad40{
	padding-top: 40px;
}

.btn {
	border: 1px solid #7777f5
}
.btn:hover{
	background-color: #969edb;
	color: #fff;

}
.btn:focus{
	background-color: #969edb;
	color: #fff;
}



.colorwhite {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
