<!-------Footer-------------------------------->
<footer class="footer" id="footer-1">
<div class="links-social">
<div class="container-class container">
<div class="links-social-inner">
<div class="row">						
	<div class="link-groups">
		<div class="col-sm-3">
			<div class="links">
				<h3 class="title">ABOUT US</h3>
				<p>We at Inzaana believe that we have this insatiable urge and capacity to 
				  challenge the conventional, because unless we do so, we will cease to progress. We believe that whatever is "out there" can be and should be made better.</p>
			</div>
		</div><!-- /.col -->

		<div class="col-sm-3">
			<div class="links">
				<h3 class="title">INFORMATION</h3>
				<ul>
					<li><a href="#"><i class="fa fa-angle-right"></i>About us</a></li>
					<li><a href="#"><i class="fa fa-angle-right"></i>Template</a></li>
					<li><a href="#"><i class="fa fa-angle-right"></i>Service</a></li>
					<li><a href="#"><i class="fa fa-angle-right"></i>Template</a></li>
					<li><a href="#"><i class="fa fa-angle-right"></i>Contact</a></li>
				</ul>
			</div>
		</div><!-- /.col -->

		<div class="col-sm-3">
			<div class="links">
				<h3 class="title">USEFUL LINKS</h3>
                     <ul class="tags-cloud clearfix">
							<li><a href="#">Website</a></li>
							<li><a href="#">Template</a></li>
							<li><a href="#">Html</a></li>
							<li><a href="#">Bootstrap</a></li>
							<li><a href="#">Css</a></li>
						</ul>
			</div>
		</div><!-- /.col -->
		
		<div class="col-md-3">
		<div class="social-newsletter">
			<div class="social-links">
				<h3 class="title">CONNECT WITH US</h3>
				 <ul class="social list-unstyled bordered big">
					<li><a href="#." class="facebook animations-on bounceIn" data-delay="100"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#." class="twitter animations-on bounceIn" data-delay="300"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#." class="googleplus animations-on bounceIn" data-delay="500"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#." class="linkedin animations-on bounceIn" data-delay="700"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div><!-- /.social-links -->

			<div class="newsletter">
				<h3 class="title">GET NEWSLETTER</h3>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Email Address">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Subscribe</button>
					</span>
				</div>
			   </div>
			  </div>
			 </div>
			 
	   </div><!-- /.row -->
   </div>
  </div><!-- /.container -->
</div>
<div class="copyright"> <a href="#">Copyright 2015 Template. All rights reserved.</a></div><a href="#">
</a></div>
</footer>	