<!-----Css------------------------------->
	<link href="../../templates/uncategorized/Template-5/css/default.css" rel="stylesheet" type="text/css">
	<link href="../../templates/uncategorized/Template-5/css/style.css" rel="stylesheet" type="text/css">
    <link href="../../templates/uncategorized/Template-5/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../../templates/uncategorized/Template-5/css/media-responsive.css" type="text/css" rel="stylesheet">
    <link href="../../templates/uncategorized/Template-5/css/animate.min.css" rel="stylesheet" type="text/css">
	<link href="../../templates/uncategorized/Template-5/css/fonts/fonts.css" rel="stylesheet" type="text/css">
    <link href="../../templates/uncategorized/Template-5/css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../templates/uncategorized/Template-5/css/lightbox/lightbox.css" rel="stylesheet">
    <link href="../../templates/uncategorized/Template-5/css/switcher/switcher.css" rel="stylesheet">	
	<!------Js------------------------------->
     <script type="text/javascript" src="../../templates/uncategorized/Template-5/js/jquery-1.11.0.js"></script>
     <script type="text/javascript" src="../../templates/uncategorized/Template-5/js/bootstrap.js"></script>
	 <script type="text/javascript" src="../../templates/uncategorized/Template-5/js/menu.js"></script>
	 <script type="text/javascript" src="../../templates/uncategorized/Template-5/js/carousel.js"></script>
	 <script type="text/javascript" src="../../templates/uncategorized/Template-5/js/lightbox/lightbox-2.6.min.js"></script>
	 <script type="text/javascript" src="../../templates/uncategorized/Template-5/js/page-scroll.js"></script>	
	 <script type="text/javascript" src="../../templates/uncategorized/Template-5/js/switcher/jsstorage.js"></script>
	 <script type="text/javascript" src="../../templates/uncategorized/Template-5/js/switcher/switcher.js"></script>