<!-------Footer-------------------------------->
<footer id="container_section-6" name="group">
 <div id="container_section-6_div-1" class="footer-inner footer">
	<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="footer-widget clearfix">
						<h4 name="group_header">About Online Tuitions</h4>
						<p name="group_textarea">We believe in Latest Powerfull Technology Lorem ipsum dolor, We believe in Latest Powerfull Technology Lorem ipsum dolor
						We believe in Latest Powerfull Technology Lorem ipsum dolor.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget clearfix">
						<h4 name="group_header">Recent Courses</h4>
						<ul class="tags-cloud clearfix">
							<li name="group_textarea"><a data-href="#.">Principles of Written English, Part 2</a></li>
							<li name="group_textarea"><a data-href="#.">Entrepreneurship 101: Who is your customer?</a></li>
							<li name="group_textarea"><a data-href="#.">Introduction to Biomedical Imaging</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget clearfix">
					  <h4 name="group_header">Recent Tutorials</h4>
						<ul class="tags-cloud clearfix">
							<li name="group_textarea"><a data-href="#.">Blog Posts</a></li>
							<li name="group_textarea"><a data-href="#.">Wordpress</a></li>
							<li name="group_textarea"><a data-href="#.">Business</a></li>
							<li name="group_textarea"><a data-href="#.">Graphic</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget clearfix">
					  <h4 name="group_header">Contact info</h4>
						<div class="contact_link">
							<a data-href="#" name="group_textarea"><i name="group_icon" class="fa fa-home"></i>Some street.some town</a>
							<a data-href="#" name="group_textarea"><i name="group_icon" class="fa fa-calendar-o"></i>Some Postcode.some UK</a>
							<a data-href="#" name="group_textarea"><i name="group_icon" class="fa fa-phone"></i>(85)8998-4488-896</a>
							<a data-href="#" name="group_textarea"><i name="group_icon" class="fa fa-envelope-o"></i><span>info@online.edu.com</span></a>
						</div>
						<div class="footer-social-icon">
							<a data-href="#" class="facebook"><i name="group_icon" class="fa fa-facebook"></i></a>
							<a data-href="#" class="twitter"><i name="group_icon" class="fa fa-twitter"></i></a>
							<a data-href="#" class="skype"><i name="group_icon" class="fa fa-skype"></i></a>
							<a data-href="#" class="google-plus"><i name="group_icon" class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="footer-bottom" name="group">
		  <div class="container">
			<div class="row">
				<div class="col-md-12">
					<p name="group_textarea" class="copyright"> Copyright © 2015 Online Tuitions. All rights reserved.</p>
					<div class="clearfix"></div>
				</div>
			</div>
		  </div>
		</div>
	</div>
</footer>