
<!-- 
<ul id="menu" class="nav navbar-nav navbar">
	<li>
		<a href="#" onclick="onMenuClick(this);">Home</a>
	</li>
	<li>
		<a href="#" onclick="onMenuClick(this);">Services</a>
	</li>
	<li>
		<a href="#" onclick="onMenuClick(this);">About Us</a>
	</li>
	<li>
		<a href="#" onclick="onMenuClick(this);">Contact</a>
	</li>
</ul>
 -->
<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <aside class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
            <ul>
              <li id="text_template1" ><a href="#">free shipping</a></li>
              <li id="text_template2" ><a href="#">easy exchange & returns</a></li>
              <li id="text_template3" ><a href="#">cash on delivery</a></li>
            </ul>
          </aside>
          <aside class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
            <div class="rightnav">
              <ul>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">English</a></li>
                    <li><a href="#">Danish</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">Spanish</a></li>
                    <li><a href="#">Portugease</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dollar&nbsp;(US)<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dollar&nbsp;(US)</a></li>
                    <li><a href="#">Pound</a></li>
                    <li><a href="#">Euro</a></li>
                    <li><a href="#">Rupees</a></li>
                  </ul>
                </li>
                <li id="text_template4"><a href="#"><i class="fa fa-pencil"></i>Register</a></li>
                <li id="text_template5"><a href="#"><i class="fa fa-lock"></i>Login</a></li>
                <li id="text_template6" class="order"><a href="#">Order Status</a></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <aside class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
            <img name="image" src="../../templates/uncategorized/tailor/resource/images/taboo.png" alt="Taboo">
          </aside>
          <aside class="col-xs-12 col-sm-6 col-md-8 col-lg-8 search">
            <input type="text" value="" name="">
          </aside>
          <div class="clearfix"></div>
          <nav class="navbar navbar-default mynavbar text-uppercase">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li id="text_template"  class="active"><a class="hvr-underline-from-center" href="#"><i class="fa fa-home"></i></a></li>
                <li id="text_template7" ><a class="hvr-underline-from-center" href="#">men</a></li>
                <li id="text_template8" ><a class="hvr-underline-from-center" href="#">women</a></li>
                <li id="text_template9" ><a class="hvr-underline-from-center" href="#">kids</a></li>
                <li id="text_template10" ><a class="hvr-underline-from-center" href="#">accessories</a></li>
                <li id="text_template11" ><a class="hvr-underline-from-center" href="#">process</a></li>
                <li id="text_template12" ><a class="hvr-underline-from-center" href="#">look book</a></li>
                <li id="text_template13" ><a class="hvr-underline-from-center" href="#">contact</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li id="text_template14" ><a href="#"><i class="fa fa-shopping-cart"></i> cart (0)</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
