<div id="container" name="container" style="height: 1200px">
	
	<div id="container_header" name="container_header" style="padding-top:10px; height: 300px; width:100%">
		<!-- <p>Banner Goes Here</p> -->
		<img id="image_baner" name="image" alt="beach" src="../../images/beach.jpg" style="height: 300px; width:100%">
	</div>

	<!-- <div class="container_middle" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."  contentEditable="false"> -->
		<div data-container="body">
		
		<h1 id="header" name="textarea" style="left:35%; width: 500px; font-family: Comic Sans MS, Impact, sans-serif;">Plan your Holiday with Us</h1>
		
		<nav>
		London<br>
		Paris<br>
		Tokyo<br>
		</nav>
		
		<section id="section" name="textarea" style="height: 400px; padding: 5px" >
		<h1>London</h1>
		<p  class="text">
		London is the capital city of England. It is the most populous city in the United Kingdom,
		with a metropolitan area of over 13 million inhabitants.
		</p>
		<p   class="text">
		Standing on the River Thames, London has been a major settlement for two millennia,
		its history going back to its founding by the Romans, who named it Londinium.
		</p>
		</section>
	</div>
</div>