<!-------Footer Section----------------->
<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-scroll">
                        <a href="#page-top" class="hc_scrollup"><i class="fa fa-angle-double-up"></i></a>
                    </div>
                    <!-- //.page-scroll -->
                    
                    <ul class="list-inline social-icons">
                        <li>
                            <div class="item">
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>
                        
                        <li>
                            <div class="item">
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>
                        
                        <li>
                            <div class="item">
                                <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>
                        
                        <li>
                            <div class="item">
                                <a href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>
                        
                        <li>
                            <div class="item">
                                <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>
                    </ul>
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
            
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright text-center">
                        <p class="text-grey">© 2015 Template. All rights reserved.</p>
                    </div>
                    <!-- //.copyright -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container -->
    </footer>
	