<!--Css-------------->
    <link href="../../templates/uncategorized/Template-4/css/default.css" type="text/css" rel="stylesheet">
	<link href="../../templates/uncategorized/Template-4/css/style.css" type="text/css" rel="stylesheet">
	<link href="../../templates/uncategorized/Template-4/css/bootstrap.css" rel="stylesheet">
	<link href="../../templates/uncategorized/Template-4/css/media-responsive.css" rel="stylesheet">
	<link href="../../templates/uncategorized/Template-4/css/media-responsive.css" rel="stylesheet">
	<link href="../../templates/uncategorized/Template-4/css/font/font.css" rel="stylesheet">
	<link href="../../templates/uncategorized/Template-4/css/lightbox.css" rel="stylesheet">
	<link href="../../templates/uncategorized/Template-4/css/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="../../templates/uncategorized/Template-4/css/switcher/switcher.css" rel="stylesheet">
	<!--Js-------------->
	<script type='text/javascript' src="../../templates/uncategorized/Template-4/js/jquery-1.11.0.js"></script>
	<script src="../../templates/uncategorized/Template-4/js/bootstrap.js"></script>	
	<script src="../../templates/uncategorized/Template-4/js/lightbox/lightbox-2.6.min.js"></script>
	<script type="text/javascript" src="../../templates/uncategorized/Template-4/js/page-scroll.js"></script>
	<!-- Switcher Js -->	
	<script type="text/javascript" src="../../templates/uncategorized/Template-4/js/switcher/colorscheme.js"></script>
    <script type="text/javascript" src="../../templates/uncategorized/Template-4/js/switcher/switcher.js"></script>